<%= form_with(model: canvass, local: true) do |form| %>
  <% if canvass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(canvass.errors.count, "error") %> prohibited this canvass from being saved:</h2>

      <ul>
        <% canvass.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_field :question %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
