<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @canvass.question %>
</p>

<%= render 'votes/form', vote: @canvass.votes.build %>

<%= link_to 'Edit', edit_canvass_path(@canvass) %> |
<%= link_to 'Back', canvasses_path %>
