<%= form_with(model: quality, local: true) do |form| %>
  <% if quality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quality.errors.count, "error") %> prohibited this quality from being saved:</h2>

      <ul>
        <% quality.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tag %>
    <%= form.text_field :tag %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
