<%= form_with(model: vote, local: true) do |form| %>
  <% if vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
        <% vote.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :candidate_id %>
    <%= form.text_field :candidate_id %>
  </div>

  <div class="field">
    <%= form.label :primary_quality_id %>
    <%= form.text_field :primary_quality_id %>
  </div>

  <div class="field">
    <%= form.label :secondary_quality_id %>
    <%= form.text_field :secondary_quality_id %>
  </div>

  <div class="field">
    <%= form.label :tertiary_quality_id %>
    <%= form.text_field :tertiary_quality_id %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
