<p id="notice"><%= notice %></p>

<p>
  <strong>Candidate:</strong>
  <%= @vote.candidate_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @vote.comment %>
</p>

<%= link_to 'Edit', edit_canvass_vote_path %> |
<%= link_to 'Back', canvass_votes_path %>
